<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue</title>
</head>

<body>
    <div id="app">
        {{message}}
    </div>

    <hr>

    <div id="app2">
        <span v-bind:title="message">Titulo grande, mantener mouse en esta zona</span>
    </div>

    <br>

    <div id="app3">
        <span v-if="seen">Ahora me ves</span>
    </div>
    <br>
    <div id="app4">
        <ol>
            <li v-for="alumno in alumnos">{{alumno.text}}</li>
        </ol>
    </div>

    <div id="app5">
        <p v-if="isShow">{{ message }}</p>
        <button v-on:click="hideOrShow">Ocultar/Mostrar</button>
    </div>

    <br>

    <div id="app6">
        <p>{{ title }}</p>
        <input v-model="message">
    </div>

    <hr>

    <div id="app7">
        <ol>
            <todo-item 
                v-for="item in listaCompra"
                v-bind:todo="item"
                v-bind:key="item.id">
            </todo-item>
        </ol>
    </div>

</body>
<script src="assets/js/vue.js"></script>
<script src="assets/js/inicio.js"></script>

</html>